@()

@main("Vending Machine") {
<form class="" action="/service" method="POST">
    <fieldset>
        <legend>Add Items</legend>
        <br>
        <ul style="list-style: none;">

            <table>
                <tr>
                    <td>
                        <label for="name">Item name:</label>
                    </td>
                    <td>
                        <input id="name"
                               type="text"
                               name="name"
                               required="required"
                               placeholder="Item name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="price">Item price:</label>
                    </td>
                    <td>
                        <input id="price"
                               type="number"
                               min="0.01"
                               step="0.01"
                               name="price"
                               required="required"
                               placeholder="Item price">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="quantity">Quantity:</label>
                    </td>
                    <td>
                        <input id="quantity"
                               type="number"
                               name="quantity"
                               required="required"
                               placeholder="Quantity">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Add item">
                    </td>
                </tr>

            </table>

        </ul>
    </fieldset>
</form>
}