@(vendingMachine: VendingMachine, form: Form[VendingMachine])

@import play.data.Form

@main("Vending Machine") {

    @helper.form(action = routes.ServiceController.updateChange(), 'id -> "item_form") {

        @helper.inputText(form("nickels"), '_id -> "nickels", '_label -> "Nickels:")
        @helper.inputText(form("dimes"), '_id -> "dimes", '_label -> "Dimes:")
        @helper.inputText(form("quarters"), '_id -> "quarters", '_label -> "Quarters:")
        @helper.inputText(form("dollars"), '_id -> "dollars", '_label -> "Dollars:")

        <input type="submit" id="submit" name="submit" value="Update"/>
    }

}