@(items: java.util.List[VendingItem])

@main("Service Vending Machine") {
    <p><a href="/service/items/new">Add Item</a></p>

    <table id='items_list' class="table">

        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        @for(item <- items) {
        <tr>
            <td>@item.getName</td>
            <td>@item.getPrice</td>
            <td>@item.getQuantity</td>
            <td>
                <a href="/service/items/@item.getId">
                    edit
                </a>
            </td>
            <td>
                <form action="/service/items/@item.getId/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        }
        </tbody>
    </table>
}