@(items: java.util.List[VendingItem])

@main("Vending Machine Items") {

    <table id='items_list' class="table">

        <thead>
            <tr class="table">
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for(item <- items) {
            <tr>
                <td>@item.getName</td>
                <td>$@item.getPrice</td>
                <td>@item.getQuantity</td>
                <td>
                    <a href="/service/items/@item.getId">
                        Edit
                    </a>
                </td>
                <td>
                    <form action="/service/items/@item.getId/delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <p><a class="button" href="/service/items/new">Add Item</a></p>
}
