@(form: Form[VendingItem])

@import play.data.Form

@main("New Vending Item") {
    <h2>Add New Item</h2>

    @helper.form(action = routes.ServiceController.saveItem(), 'id -> "item_form") {

    <table>
        <tr>
            <td>
                <label for="item-name">Name:</label>
            </td>
            <td>
                <input type="text" id="item-name" name="name" placeholder="Name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="item-price">Price:</label>
            </td>
            <td>
                <input type="number" id="item-price" name="price" step="0.05" min="0.05" placeholder="$0.00">
            </td>
        </tr>
        <tr>
            <td>
                <label for="item-quantity">Quantity:</label>
            </td>
            <td>
                <input type="number" id="item-quantity" name="quantity" min="1" placeholder="Quantity">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="submit" name="submit" value="Add"/>
            </td>
        </tr>
    </table>
    }

}