@(sale: Sale, item: VendingItem)

@main("Service Vending Machine") {
    <dl>
        <div><dt>Item: @item.getName() - @item.getPrice()</dt><dd id="item-display"></dd></div>
        <div><dt>Money due: @sale.amountDue()</dt><dd id="due-display"></dd></div>
        <div><dt>Paid: @sale.getAmountPaid()</dt><dd id="paid-display"></dd></div>
    </dl>

    <p>Insert coin:</p>
    <table>
        <tr>
            <td>
                @helper.form(action = routes.HomeController.insertNickel(sale.getId, item.getId), 'id -> "select_coin_form") {
                    <input type="submit" name="nickels" value="Nickels" id="nickel">
                }
            </td>
            <td>
                @helper.form(action = routes.HomeController.insertDime(sale.getId, item.getId), 'id -> "select_coin_form") {
                    <input type="submit" name="dimes" value="Dimes" id="dime">
                }
            </td>
            <td>
                @helper.form(action = routes.HomeController.insertQuarter(sale.getId, item.getId), 'id -> "select_coin_form") {
                    <input type="submit" name="quarters" value="Quarters" id="quarter">
                }
            </td>
            <td>
                @helper.form(action = routes.HomeController.insertDollar(sale.getId, item.getId), 'id -> "select_coin_form") {
                    <input type="submit" name="dollars" value="Dollars" id="dollar">
                }
            </td>

        </tr>
    </table>
    @helper.form(action = routes.HomeController.returnCoins(sale.getId, item.getId), 'id -> "return_coin_form") {
        <input type="submit" value="Return Coins">
    }
}