@(sale: Sale, item: VendingItem, coinsReturned: java.util.HashMap[String, Integer])

@main("Return Coins") {
    <h2>Coins Returned:</h2>
    <dl>
        <div><dt>Dollars: @coinsReturned.get("Dollars") </dt><dd id="dollars-display"></dd></div>
        <div><dt>Quarters: @coinsReturned.get("Quarters") </dt><dd id="dollars-display"></dd></div>
        <div><dt>Dimes: @coinsReturned.get("Dimes") </dt><dd id="dollars-display"></dd></div>
        <div><dt>Nickels: @coinsReturned.get("Nickels") </dt><dd id="dollars-display"></dd></div>
    </dl>

    <p><a class="button" href="/sale/@sale.getId/item/@item.getId">Return to Purchase</a></p>

}